* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}

:root {
    --primary-color: #0b101e;
    --container-color: #0f172a;
    --btn-color: #8024d0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--primary-color);
}

.container {
    width: 60vw;
    padding: 1.4rem;
    background: var(--container-color);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h2 {
    font-size: 2.2rem;
    text-align: center;
}

p, label {
    font-size: 1.2rem;
    padding: .4rem 0;
}

input, button {
    width: 100%;
    font-size: 1.4rem;
}

input {
    height: 2.8rem;
    margin: .6rem 0;
    border: none;
    border-radius: 6px;
    background: var(--primary-color);
}

button {
    height: 3.2rem;
    margin: .8rem 0;
    border: none;
    background: var(--btn-color);
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #00a8db;
}

span {
    font-size: 1.8rem;
    color: #068517;
}